.home {
  //width: 100vw;
  height: 5564px;
  position: relative;
  padding: 1px 0;
/*  .logo {
    display: flex;
    z-index: 22;
    justify-content: flex-end;
    div {
      width: 242px;
      height: 154px;
      background-size: cover;
      margin-right: 90px;
      margin-top: 24px;
    }
  }*/
  .left-button {
    position: absolute;
    top: 370px;
    right: 0;
    z-index: 10;
    .mark {
      height: 395px;
      position: absolute;
      right: 10px;
      width: 300px;
      margin-top: -400px;
      z-index: 11;
      text-align: center;
      opacity: 0;
      a {
        display: flex;
        text-align: center;
        background: #42b983;
        width: 100%;
        height: 70px;
        margin-top: 4px;
        border-radius: 40px;
      }
      div{
        margin-top: 12px;
        background: #42b983;
        width: 100px;
        height: 80px;
        margin-left: 32%;
        border-radius: 20px;
      }
    }
    img {
      height: 795px;
    }
  }
  .header {
    display: flex;
    margin-top: 582px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .img-box {
      position: relative;
      display: flex;
      justify-content: center;
      img:first-child {
        position: absolute;
        right: 118px;
        margin-top: 14px;
        z-index: 22;
        opacity: 0;
      }
      img:nth-child(2) {
        z-index: 0;
      }
    }
    .yu-button{
      margin-top: 23px;
      height: 140px;
      width: 464px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      strong {
        margin-bottom: 16px;
        font-size: 1.8rem;
        font-weight: bold;
        margin-right: 42px;
        font-style: italic;
        color: #fff;
        -webkit-text-stroke: 1.4px #C14610;
        text-shadow:  3px 3px 2px #9A6015;
        letter-spacing: -0.1em;
        font-family: myFirstFont;
      }
    }
  }
  .tip-one{
    margin-top: 74px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .to-title {
      width: 1200px;
      text-align: left;
      img{
        width: 624px;
      }
    }
    .tip-body {
       position: relative;
       width: 1200px;
       height: 420px;
      .tb-bx {
        position: absolute;
        right: -128px;
        width: 286px;
        height: 286px;
        top: 50px;
        img {
          width: 100%;
          height: 100%;
        }
      }
       img {
         width: 1138px;
         height: 420px;
         position: absolute;
         left: 0;
       }
      .input-info {
        display: flex;
        width: 482px;
        left: 38px;
        top: 140px;
        padding: 2px 0;
        position: absolute;
        font-family: myFirstFont;
        .el-input__suffix {
          top: 9px;
          right: 12px;
          font-size: 24px;
        }
        .num-title {
          .el-input__inner {
            border: 0;
            background-color: rgba(0, 0, 0, 0);
            height: 66px;
            font-size: 24px;
            line-height: 66px;
            margin-left: 8px;
            letter-spacing: 0.12em;
          }
          .el-select .el-input {
            width: 200px;
            height: 66px;
          }
        }
        .num-input {
          margin-left: 12px;
          width: 270px;
          height: 66px;
          .el-input {
            font-size: 24px;
            width: 270px;
            height: 66px;
            line-height: 66px;
          }
          .el-input__inner {
            border: 0;
            background-color: rgba(0, 0, 0, 0);
            height: 66px;
            margin-left: 8px;
            letter-spacing: 0.12em;
          }
        }

        .el-select .el-input__inner {
          margin-right: 0;
        }
      }
      .agree {
        position: absolute;
        bottom: 172px;
        left: 132px;
        display: flex;
        align-items: center;
        .check {
          width: 22px;
          height: 22px;
          box-sizing: border-box;
          border: 2px solid #F5BF9E;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 12px;
          .inner-check{
            width: 16px;
            height: 16px;
          }
          .is_checkd {
            background: #F5BF9E;
          }
        }
        span {
          font-size: 18px;
          color: #4F4F3B;
          font-family: myFirstFont;
          font-weight: 540;

        }
      }
      .reserve-btn {
        position: absolute;
        bottom: 136px;
        left: 58px;
        img {
          width: 430px;
          height: 66px;
        }
      }
    }
    .share-panel {
      margin-top: 34px;
      width: 1200px;
      height: 324px;
      padding-right: 62px;
      box-sizing: border-box;
      .share-content {
        display: flex;
        .like-box, .share-box{
          position: relative;
          img {
            height: 282px;
            width: 539px;
          }
        }
        .like-box {
          .like-btn {
            background: #1086FF;
            position: absolute;
            width: 175px;
            height: 54px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 6px;
            left: 180px;
            top: 95px;
            .like-icon {
              width: 32px;
              height: 32px;
              margin-right: 18px;
              margin-left: 21px;
            }
            .like-span {
              color: #fff;
              font-weight: 600;
              font-size: 20px;
            }
          }
        }
        .share-box {
          .share-btn {
            position: absolute;
            left: 102px;
            top: 95px;
            img {
              width: 346px;
              height: 54px;
            }
          }
        }
        .share-box {
          margin-left: 60px;
        }
      }
      .share-tips {
        margin-top: 20px;
        font-size: 20px;
        letter-spacing: 0.1rem;
        color: #31311B;
        float: right;
      }

    }
  }
  .tip-two {
    margin-top: 52px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tt-title {
      width: 1200px;
      text-align: left;
    }
    .tt-progress {
      width: 1200px;
      .tp-num {
        text-align: right;
         span {
           font-size: 24px;
           font-weight: bold;
           color: #87610F;
           strong {
             margin-bottom: 16px;
             font-size: 2.8rem;
             color: #93F259;
             -webkit-text-stroke: 3px #87610F;
             text-shadow:  3px 3px 2px #FBF270;
             letter-spacing: -0.1em;
             font-family: myFirstFont;
           }
         }
      }
      .tp-gress {
        width: 100%;
        position: relative;
        .tp-icon {
          position: absolute;
          top: 5px;
          img {
            width: 60px;
            height: 50px;
          }
        }
        .tp-icon {
          margin-left: 0;
        }
      }
    }
  }
  .swiper {
    position: absolute;
    bottom: 40vh;
    left: 10vw;
    width: 70vw;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1680px){
  .home {
    .logo {
      div {
        background-size: cover;
      }
    }
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px){
  .home {
    .logo {
      img {
        margin-right: 20px;
        margin-top: 24px;
      }
    }
  }
}
