@font-face {
  　font-family: myFirstFont;
  　src:url('Fzh4fw.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: mySecondFont;
  src:url('JDFYUANXIN.TTF');
  font-weight: normal;
  font-style: normal;
}
