@function pxtovw($args) {
  @return ($args / 750) * 100vw;
}
.home {
  width: 100vw;
  .bgc {
    width: 100%;
  }
  .mobile {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    .home-body {
      position: relative;
      padding: 1px 0;
      width: 100%;
      margin-top: pxtovw(436);
      .header {
        width: 100%;
        padding: 0 pxtovw(60);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .img-box {
          position: relative;
          display: flex;
          justify-content: center;
          img:first-child {
            position: absolute;
            right: pxtovw(92);
            margin-top: pxtovw(10);
            z-index: 22;
            width: pxtovw(82);
            opacity: 0;
          }
          img:nth-child(2) {
            z-index: 0;
            width: 100%;
            height: pxtovw(180);
          }
        }
        .yu-button{
          margin-top: pxtovw(23);
          height: pxtovw(107);
          width: pxtovw(345);
          display: flex;
          padding-bottom: pxtovw(20);
          justify-content: center;
          align-items: flex-end;
          //background: url("../../images/basic/button_preorder1.png") no-repeat center;
          strong {
            bottom: pxtovw(10);
            font-size: pxtovw(20);
            font-weight: bold;
            margin-right: pxtovw(42);
            font-style: italic;
            color: #fff;
            -webkit-text-stroke: 0.52px #C14610;
            text-shadow:  1px 1px 1px #9A6015;
            letter-spacing: -0.1em;
            font-family: mySecondFont;
          }
        }
      }
      .tip-one {
        margin-top: pxtovw(50);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 pxtovw(8);
        box-sizing: border-box;
        .to-title {
          width: 100%;
          text-align: left;
          img{
            width: pxtovw(470);
          }
        }
        .tip-body {
          position: relative;
          width: 100%;
          height: pxtovw(317);
      /*    .tb-bx {
            !*position: absolute;
            right: -128px;
            width: 286px;
            height: 286px;
            top: 50px;*!
            img {
              width: 100%;
              height: 100%;
            }
          }*/
          img {
            width: 100%;
            position: absolute;
            left: 0;
          }
          .input-info {
            display: flex;
            width: pxtovw(420);
            left: pxtovw(24);
            top: pxtovw(100);
            position: absolute;
            font-family: mySecondFont;
            .el-input__suffix {
              top: pxtovw(-20);
              right: pxtovw(-2);
              font-size: pxtovw(12);
            }
            .num-title {
          /*    background: url("../../images/basic/bg_num_input.png") no-repeat center;
              background-size: 100% 100%;*/
              height: pxtovw(50);
              select {
                width: pxtovw(150);
                border: 0;
                outline:none;
                padding: 0 0 0 pxtovw(20);
                font-size: pxtovw(20);
                /*很关键：将默认的select选择框样式清除，注意ie的比较特别用最下面的方法清除*/
                appearance:none;
                -moz-appearance:none;
                -webkit-appearance:none;
                /*在选择框的最右侧中间显示小箭头图片*/
            /*    background: url("../../images/mobile/sel_down.png") no-repeat scroll right center transparent;
                background-size: 10% 30%;*/
                margin-right: pxtovw(12);
              }
              /*.el-select .el-input {
                width: pxtovw(150);
                height: pxtovw(50);
                display: flex;
                align-items: center;
                .el-input__inner {
                  height: pxtovw(50);
                  background-color: rgba(0, 0, 0, 0);
                  border: 0;
                  padding: 0 0 0 pxtovw(10);
                  font-size: pxtovw(12);
                }
                .el-input__suffix-inner{
                  color: #000;
                }
                .el-icon-arrow-up:before {
                  content: "";
                  color: #000;
                  font-size: 12px;
                }
              }*/
            }
            .num-input {
              margin-left: pxtovw(12);
              width: pxtovw(208);
              height: pxtovw(50);

              input {
                font-size: pxtovw(24);
                width: pxtovw(208);
                height: pxtovw(50);
                border: 0;
                background-color: rgba(0, 0, 0, 0);
                padding-left: pxtovw(12);
                display: flex;
                outline: none;
                align-items: center;
              }
            }
          }
          .agree {
            position: absolute;
            bottom: pxtovw(128);
            left: pxtovw(100);
            display: flex;
            align-items: center;
            .check {
              width: pxtovw(16);
              height: pxtovw(16);
              box-sizing: border-box;
              border: 1px solid #F5BF9E;
              border-radius: 1px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: pxtovw(12);
              .inner-check{
                width: pxtovw(10);
                height: pxtovw(10);
              }
              .is_checkd {
                background: #F5BF9E;
              }
            }
            img {
              width: pxtovw(243);
              margin-left: pxtovw(24);
            }
          }
          .reserve-btn {
            position: absolute;
            bottom: pxtovw(101);
            left: pxtovw(35);
            animation: anima-scale 2s;
            animation-iteration-count: infinite;
            img {
              width: pxtovw(322);
              height: pxtovw(48);
            }
            &:active{
              transform: scale(0.95,0.95)
            }
          }
        }
        .share-panel {
          margin-top: pxtovw(24);
          width: 100%;
          padding: 0 pxtovw(8);
          height: pxtovw(247);
          overflow: hidden;
          box-sizing: border-box;
          .share-content {
            display: flex;
            .like-box, .share-box{
              position: relative;
              img {
                width: pxtovw(358);
              }
            }
            .like-box {
              .like-btn {
                background: #1086FF;
                position: absolute;
                width: pxtovw(132);
                height: pxtovw(42);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-radius: pxtovw(6);
                left: pxtovw(110);
                top: pxtovw(66);
                .fb-like {
                  opacity: 0;
                  position: absolute;
                  width: 100%;
                }
                .like-icon {
                  width: pxtovw(25);
                  height: pxtovw(25);
                  margin-right: pxtovw(10);
                  margin-left: pxtovw(6);
                }
                .like-span {
                  color: #fff;
                  font-weight: 600;
                  font-size: pxtovw(18);
                }
              }
            }
            .share-box {
              margin-left: pxtovw(6);
              .share-btn {
                position: absolute;
                left: pxtovw(60);
                top: pxtovw(66);
                cursor:pointer;
                img {
                  width: pxtovw(260);
                  height: pxtovw(42);
                }
                &:active{
                  transform: scale(0.95,0.95)
                }
              }
            }
          }
          .share-tips {
            font-size: pxtovw(19);
            color: #31311B;
            float: left;
          }
        }
      }
      .tip-two {
        margin-top: pxtovw(40);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 pxtovw(8);
        box-sizing: border-box;
        overflow-x: clip;
        .tt-title {
          width: 100%;
          text-align: left;
          img{
            width: pxtovw(470);
          }
        }
        .tt-progress {
          width: 100%;
          .tp-num {
            text-align: right;
            //margin-right: pxtovw(84);
            span {
              font-size: pxtovw(20);
              font-weight: bold;
              color: #87610F;
              strong {
                margin-bottom: pxtovw(16);
                font-size: pxtovw(50);
                color: #93F259;
                -webkit-text-stroke: 1px #87610F;
                text-shadow:  1px 1px 1px #FBF270;
                letter-spacing: pxtovw(-6);
                font-family: mySecondFont;
              }
            }
          }
          .tp-gress {
            width: 100%;
            position: relative;
            .tp-icon {
              position: absolute;
              top: pxtovw(1);
              //left: 3px;
              z-index: 3;
              img {
                width: pxtovw(38);
                height: pxtovw(34);
              }
            }
            .tp-gressbgc {
              position: absolute;
              left: 0;
              z-index: 2;
              width: 100%;
            }
          }
          .tp-shop {
            position: relative;
            display: flex;
            width: 100%;
            margin-top: pxtovw(90);
            .shop-right {
              position: absolute;
              z-index: 0;
              display: flex;
              .shop-one, .shop-two{
                width: pxtovw(215);
                height: pxtovw(293);
                margin: 0 pxtovw(8);
                position: relative;
                img {
                  width: pxtovw(215);
                  height: pxtovw(293);
                }
                .img-two {
                  margin-top: pxtovw(2);
                }
                .actvie {
                  img {
                    width: pxtovw(80);
                    height: pxtovw(70);
                  }
                  img:first-child {
                    position: absolute;
                    top: pxtovw(40);
                    right: pxtovw(-18);
                    z-index: 5;
                  }
                  img:last-child {
                    position: absolute;
                    top: pxtovw(350);
                    right: pxtovw(-20);
                    z-index: 5;
                  }
                }
              }
              .shop-three {
                margin: 0 pxtovw(8);
                position: relative;
                width: pxtovw(254);
                height: pxtovw(595);
                .img-big {
                  width: pxtovw(254);
                }
                .active {
                  img {
                    width: pxtovw(80);
                    height: pxtovw(70);
                  }
                  position: absolute;
                  top: pxtovw(54);
                  right: pxtovw(-20);
                  z-index: 5;
                }
              }
            }
          }
        }
      }
      .tip-three {
        margin-top: pxtovw(650);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 pxtovw(8);
        box-sizing: border-box;
        .te-title {
          width: 100%;
          text-align: left;
          img{
            width: pxtovw(470);
          }
        }
        .te-body {
          width: 100%;
          .tb-show {
            position: relative;
            margin-top: pxtovw(-40);
            img:first-child {
              width: pxtovw(535);
            }
            .role-info {
              width: 100%;
              position: absolute;
              left: 0;
              top: pxtovw(-20);
            }
            .role-sex {
              position: absolute;
              right: pxtovw(2);
              top: pxtovw(78);
              img {
                width: pxtovw(140);
              }
              .rs-mark {
                width: pxtovw(60);
                height: pxtovw(40);
                position: absolute;
              }
              .mark-left {
                left: 4px
              }
              .mark-right {
                right: 4px
              }
            }
          }
          .tb-tab {
            display: flex;
            align-items: center;
        /*    .left {
              margin-left: 40px;
            }*/
       /*     .left, .right {
              img {
                width: 50px;
              }
            }*/
            .conter {
              display: flex;
              flex: 1;
              justify-content: space-around;
              img {
                width: pxtovw(104);
                height: pxtovw(104);
              }
            }
            .no-active {
              -webkit-filter: grayscale(100%);
              -moz-filter: grayscale(100%);
              -ms-filter: grayscale(100%);
              -o-filter: grayscale(100%);
              filter: grayscale(100%);
              filter: gray;
            }
          }
        }
      }
      .tip-four {
        margin-top: pxtovw(84);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 pxtovw(8);
        box-sizing: border-box;
        .tf-title {
          width: 100%;
          text-align: left;
          img{
            width: pxtovw(470);
          }
        }
        .tf-body {
          margin-top: pxtovw(95);
          width: 100%;
          box-sizing: border-box;
        }
      }
      .footer-text {
        margin-top: pxtovw(490);
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 pxtovw(8);
        text-align: center;
        box-sizing: border-box;
        img {
          width: 98%;
        }
      }
      .footer-img {
        margin-top: pxtovw(30);
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
        position: relative;
        opacity: 1;
        .btn-left {
          position: absolute;
          left: 0;
          bottom: 0;
          width: pxtovw(250);
          height: pxtovw(110);
          opacity: 0;
        }
        .btn-top {
          position: absolute;
          right: pxtovw(20);
          bottom: pxtovw(150);
          width: pxtovw(84);
          height: pxtovw(72);
        }
        img {
          width: 100%;
        }
        .btn-right {
          position: absolute;
          right: 0;
          bottom: 0;
          width: pxtovw(220);
          height: pxtovw(110);
          display: flex;
          align-items: center;
          z-index: 0;
        }
      }
    }
  }
  .cl-dialog {
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: 999;
    padding: 0 pxtovw(8);
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
    i {
      font-size: pxtovw(50);
      color: #fff;
    }
    .cd-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img-content {
        width: 100%;
        display: flex;
        position: relative;
        .ic-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          img:first-child {
            width: pxtovw(690);
          }
        }
        .close-btn {
          width: pxtovw(50);
        }
        .ic-role {
          position: absolute;
          right: pxtovw(-380);
          top: pxtovw(-100);
          img {
            height: pxtovw(615);
          }
        }
        //img {
        //  width: 70%;
        //}
      }
      .gift-content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .gc-body {
          width: pxtovw(698);
          height: pxtovw(346);
          padding: pxtovw(27) pxtovw(21);
          box-sizing: border-box;
          font-size: pxtovw(24);
          font-weight: bold;
/*          background: url("../../images/basic/gift_bgc.png") no-repeat center;
          background-size: 100%;*/
          color: #BD4810;
          font-family: mySecondFont;
          .gt-left {
            width: pxtovw(209);
            height: pxtovw(48);
            display: flex;
            justify-content: center;
            align-items: center;
         /*   background: url("../../images/basic/gift_left_btn.png") no-repeat center;
            background-size: 100%;*/
          }
          .gt-right {
            width: pxtovw(426);
            height: pxtovw(48);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
       /*     background: url("../../images/basic/gift_right_btn.png") no-repeat center;
            background-size: 100%;*/
            .copy-btn {
              position: absolute;
              right: pxtovw(20);
              width: pxtovw(72);
              height: pxtovw(32);
              font-size: pxtovw(24);
              font-weight: bold;
              border-radius: pxtovw(10);
              color: #BD4810;
              font-family: mySecondFont;
              border: 0;
              background: #FFE95B;
              box-shadow: 1px 1px 2px #F3712F;
              &:active {
                //background: #42b983;
                transform: scale(0.95,0.95)
                //box-shadow: -1px -1px 2px #F3712F;
              }
            }
          }
          .gc-title {
            display: flex;
            justify-content: space-around;
          }
          .gc-item {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
          }
        }
        .close-btn {
          width: pxtovw(50);
        }
      }
    }
  }
}

@media screen and (max-width: 375px){
  .home {
    .footer-img {
      margin-top: pxtovw(20);
    }
    .tip-two {
      .tt-progress {
        text-align: center;
      }
    }
  }
}
